body {
    background-color: #f0f0f0;
    background-image: url(../images/silverware.jpg);
    background-attachment: fixed;
    color: #404040;
    font-size: 11pt;
    font-family: "Georgia", "Garamond", serif;
}

.main-picture {
    margin-top: 15px;
    margin-bottom: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #a4a400;
    font-family: "Lucida Sans Console", "Helvetica", Arial, sans-serif;
    text-decoration: underline;
    letter-spacing: 0.25em;
}

h2,
h3,
h4,
h5,
h6 {
    text-align: left;
    font-weight: normal;
    font-size: 18pt;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 22pt;
}

span.header {
    background-color: #f0f0f0;
}

a {
    color: #a4a400;
}

blockquote {
    background-color: #ffffa8;
}

ul>li {
    list-style-image: url("../images/pie_icon.gif");
}

#validators {
    float: right;

}
